{% extends "usuarios/base_auth.html" %}

{% block content %}
    <div style="text-align: center;">
        <i class="fas fa-envelope-open-text" style="font-size: 3em; color: #28a745; margin-bottom: 20px;"></i>
        <h3 style="margin-top:0; color:#1a5490;">¡Correo Enviado!</h3>
        <p>Hemos enviado las instrucciones a tu correo electrónico. Si no lo recibes en unos minutos, revisa tu carpeta de spam.</p>
        <a href="{% url 'login' %}" style="color: #1a5490; text-decoration: none; font-weight: bold;">Volver al inicio de sesión</a>
    </div>
{% endblock %}